# Ignore Python virtual environment
venv/

# Ignore all .pyc files and cache directories
__pycache__/
*.pyc

# Ignore logs and temporary files
*.log
*.tmp

# Ignore IDE files
.vscode/
*.suo
*.user
*.rsuser
*.ncb
*.aps
*.cache

# Ignore environment settings
.env
*.env

# Ignore database and credentials
*.db
*.sqlite3

# Ignore videos and large files
*.mp4
*.avi
*.mov
*.mkv
*.gif

# Ignore Streamlit Secrets
.streamlit/secrets.toml
