opencv-contrib-python
opencv-python
opencv-python-headless
streamlit-option-menu
timm
mediapipe
streamlit
streamlit_webrtc
tensorflow
transformers
plotly
torch
torchvision
seaborn
typing_extensions
protobuf
fer
easyocr
ipython
streamlit-login-auth-ui